<div class="field-container">
  <label id="field-label" for=""></label>

  <template id="default">
    <input id="field-input" tabindex="0" type="text" />
  </template>

  <template id="textarea">
    <textarea id="field-input" name="field-input" tabindex="0"></textarea>
  </template>

  <template id="select">
    <mo-select tabindex="0" id="field-input"></mo-select>
  </template>

  <template id="search-select">
    <mo-select id="field-input" tabindex="0"></mo-select>
  </template>

  <template id="switch">
    <mo-switch tabindex="0" id="field-input"></mo-switch>
  </template>
</div>
