:host {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: solid 3px var(--mo-blue-500);
  border-radius: var(--mo-size-2);
  padding: 0rem var(--mo-size-2);
  margin-top: var(--mo-size-8);
  background-color: color-mix(in srgb, var(--mo-blue-500) 35%, white);
  outline: none;
  width: 100%;
}

:host(:state(half-width)) {
  width: 45%;
  flex-grow: 1;
}
/* 
:host(:state(half-width):nth-child(even)) {
  margin-right: 1rem;
} */

:host(:focus) > .field-container > #field-label, :host(:state(valid)) > .field-container > #field-label {
  transform: translateY(-1.25em);
}

:host(:not(:state(empty))) > .field-container > #field-label, :host(:state(:valid)) #field-label {
  transform: translateY(-1.25em);
}

textarea {
  width: 100%;
  min-height: var(--mo-size-10);
  max-height: var(--mo-size-24);
  resize: vertical;
  font-family: inherit;
}

.field-container {
  display: flex;
  flex-direction: column;
  font-family: var(--mo-font-family);
}

#field-input {
  font-size: var(--mo-size-4);
  height: var(--mo-size-10);
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

:host(:not(:state(valid)):state(dirty)) {
  background-color: color-mix(in srgb, var(--mo-red-500) 35%, transparent);
  border-color: var(--mo-red-500);
}

#field-input::placeholder {
  opacity: 0;
}

#field-input:focus::placeholder {
  opacity: 0.5;
}

#field-label {
  position: absolute;
  transform: translateY(0.35em);
  left: 0.5rem;
  font-size: var(--mo-size-5);
  transition: transform 400ms ease;
  pointer-events: none;
  /* 400ms ease font-size; */
}

/* --------------- SWITCH STYLES --------------- */

:host([type="switch"]) {
  background-color: unset;
  border-color: transparent;
}

:host([type="switch"]) #field-label {
  display: none;
}

:host([type="switch"]) #field-input {
  font-size: var(--mo-size-5);
}

/* ------------- DISABLED STYLES ------------- */

:host(:state(disabled)) {
  filter: grayscale(0.5);
  opacity: 0.7;
  cursor: not-allowed;
}

:host(:state(disabled)) > .field-container {
  pointer-events: none;
}


:host([type="date"]) #field-label {
  transform: translateY(-1.25em);
}


/* :host([type="date"]:focus) #field-input {
  content-visibility: visible;
}

:host([type="date"]:focus-within) #field-input {
  content-visibility: visible;
} */
