:host {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: solid 3px var(--mo-blue-500);
  border-radius: var(--mo-size-2);
  padding: 0rem var(--mo-size-2);
  margin-top: var(--mo-size-8);
  background-color: color-mix(in srgb, var(--mo-blue-500) 35%, white);
}

:host(:last-child) {
  margin-bottom: var(--mo-size-8);
}

:host(:focus) > .field-container > #field-label {
  transform: translateY(-1.25em);
}

:host(:not(:state(empty))) > .field-container > #field-label {
  transform: translateY(-1.25em);
}

.field-container {
  display: flex;
  flex-direction: column;
  font: var(--mo-font-family);
}

#field-input {
  font-size: var(--mo-size-4);
  height: var(--mo-size-10);
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

:host(:not(:state(valid)):state(dirty)) {
  background-color: color-mix(in srgb, var(--mo-red-500) 35%, transparent);
  border-color: var(--mo-red-500);
}

#field-input::placeholder {
  opacity: 0;
}

#field-input:focus::placeholder {
  opacity: 0.5;
}

#field-label {
  position: absolute;
  transform: translateY(0.35em);
  left: 0.5rem;
  font-size: var(--mo-size-5);
  transition: transform 400ms ease;
  pointer-events: none;
  /* 400ms ease font-size; */
}

/* -------------- SELECT STYLES -------------- */

:host([type="select"]) #field-input {
  content-visibility: hidden;
}

:host([type="select"]) #field-input:focus {
  content-visibility: visible;
}

:host([type="select"]:not(:state(empty))) #field-input {
  content-visibility: visible;
}

option {
  background-color: color-mix(in srgb, var(--mo-green-500) 30%, white);
}

option:nth-child(odd) {
  background-color: color-mix(in srgb, var(--mo-green-500) 10%, white);
}

/* ------------ SEARCH SELECT STYLES ----------- */

:host([type="search-select"]) option:hover {
  background-color: color-mix(in srgb, var(--mo-blue-500) 30%, white);
}

#hidden-field {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  z-index: 10;
  top: 100%;
  border-radius: var(--mo-border-radius);
  border: none;
  box-shadow: var(--mo-box-shadow);
  font-size: var(--mo-size-5);
  width: 100%;
  left: 0;
}

#hidden-field > option {
  padding: var(--mo-size-2);
}

:host(:focus) #hidden-field, :host(:focus-within) #hidden-field {
  visibility: visible;
  pointer-events: unset;
}

#hidden-field > option:hover {
  background-color: color-mix(in srgb, var(--mo-blue-500) 30%, white);
}

.placeholder-option {
  pointer-events: none !important;
}

.placeholder-option:focus {
  background-color: color-mix(in srgb, var(--mo-blue-500) 30%, white) !important;
}

.placeholder-option:active {
  background-color: color-mix(in srgb, var(--mo-blue-500) 30%, white) !important;
}

.placeholder-option::selection {
  background-color: color-mix(in srgb, var(--mo-blue-500) 30%, white) !important;
}

/* --------------- SWITCH STYLES --------------- */

:host([type="switch"]) {
  background-color: unset;
  border-color: transparent;
}

:host([type="switch"]) #field-label {
  display: none;
}

:host([type="switch"]) #field-input {
  font-size: var(--mo-size-5);
}

/* ------------- DISABLED STYLES ------------- */

:host(:state(disabled)) {
  filter: grayscale(0.5);
  opacity: 0.7;
  cursor: not-allowed;
}

:host(:state(disabled)) > .field-container {
  pointer-events: none;
}
