:host {
  height: 100%;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

#dd-btn {
  position: relative;
  z-index: 1;
}

:host(:state(opened)) > .container {
  opacity: 1;
  visibility: visible;
}

:host(:state(closed)) > .container {
  visibility: hidden;
}

:host([side-bar]:state(opened)) .content {
  transform: translate(calc(-50% + 1rem), 2rem);
}

:host([side-bar]) .content {
  transform: translate(65%, 2rem);
}

.container {
  opacity: 0;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  height: 0px;
  width: 100%;

  transition:
    500ms ease transform,
    500ms ease opacity;
}

.content {
  overflow: hidden;
  background-color: var(--mo-white);

  position: absolute;

  border-radius: var(--mo-border-radius);
  box-shadow: var(--mo-box-shadow);

  transition:
    500ms ease transform,
    500ms ease opacity;
}
