:host {
  height: 100%;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

#dd-btn {
  position: relative;
  z-index: 1;
}

:host(:state(opened)) > .container {
  opacity: 1;
  visibility: visible;
}

:host(:state(closed)) > .container {
  visibility: hidden;
}

:host([side-bar]:state(opened)) > .container {
  transform: translate(calc(-100% + -0.5rem), 1.5rem);
}

:host([side-bar]) > .container {
  transform: translate(100%, 1.5rem);
}

.container {
  opacity: 0;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  height: 0px;
  width: 100%;

  transition:
    500ms ease transform,
    500ms ease opacity;
}

.content {
  position: absolute;
  background: white;
  padding: var(--mo-size-4);
  display: block;
  border-radius: var(--mo-border-radius);
  box-shadow: var(--mo-box-shadow);
}