:host {
  width: 100%;
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  
  user-select: none;
  color: var(--mo-charcoal);
  background-color: white;
  border-radius: var(--mo-border-radius);
  box-shadow: rgba(0, 0, 0, 0.32) 0.1rem 0.5rem 0.5rem;
}