:host {
  width: 100%;
  user-select: none;
}

.head-container {
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem;
}

.head-container:hover {
  background-color: color-mix(in srgb, var(--mo-blue-500) 35%, white);
  /* background-color: color-mix(in srgb, var(--mo-purple-100) 65%, white); */
}

.head-wrapper {
  display: flex;

  color: var(--mo-blue-700);
  font-size: var(--mo-size-6);

  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: max-content;
}

mo-icon {
  transition: transform 200ms ease;
  padding: 0px;
  background: none;
  margin-right: var(--mo-size-2);
}

.body-container {
  position: relative;

  width: 100%;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-content {
  display: none;
  visibility: hidden;

  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 200ms ease opacity;
}

:host(:state(opened)) mo-icon {
  transform: rotate(180deg);
}

:host(:state(opened)) .body-content {
  display: flex;
  visibility: visible;
  position: relative;
  pointer-events: unset;
}
