/* =========== Default Button Styles =========== */

:host {
  display: block;
  user-select: none;
  width: fit-content;
  height: fit-content;
}

/* ---- Static ---- */
.container {
  color: var(--mo-white);
  cursor: pointer;

  padding: var(--mo-padding);
  border: 0.15rem solid var(--btn-primary);

  border-radius: var(--mo-border-radius);

  background-position: center;
  background-color: var(--btn-primary);

  box-shadow: var(--mo-box-shadow);
  pointer-events: all;
  transition: 200ms ease background, 200ms ease border;
}

/* ---- Hover ---- */
.container:hover {
  border-color: var(--btn-primary-focus);
  background: var(--btn-primary-focus)
    radial-gradient(circle, transparent 1%, var(--btn-primary-focus) 1%) center / 15000%;
}

/* ---- Focus ---- */
.container:focus {
  border-color: var(--btn-primary-focus);
  background-color: var(--btn-primary-hover);
  outline: solid 2px color-mix(in srgb, var(--btn-primary-focus) 50%, transparent);
}

/* ---- Active ---- */
:host(:active:not(:state(disabled))) > .container {
  background-size: 100%;
  background-color: var(--mo-white);
  border-color: color-mix(in srgb, var(--btn-primary) 5%, transparent);
  outline: solid 1px color-mix(in srgb, var(--btn-primary-focus) 50%, transparent);;
  transition: background 0s, 100ms border;
}

/* =========== Border Button Styles =========== */

/* ---- Static ---- */
:host([btn-type="border"]) > .container {
  color: var(--btn-secondary-color-dark);
  border-color: color-mix(in srgb, var(--btn-secondary) 60%, transparent);
  background-color: color-mix(in srgb, var(--btn-secondary-focus) 18%, transparent);
}

/* ---- Hover ---- */
:host([btn-type="border"]) > .container:hover {
  color: var(--mo-white);
  border-color: var(--btn-secondary-focus);
  background: var(--btn-secondary-hover)
    radial-gradient(circle, transparent 1%, var(--btn-secondary-focus) 1%) center / 15000%;
}

/* ---- Focus ---- */
:host([btn-type="border"]) > .container:focus {
  color: var(--mo-white);
  border-color: var(--btn-secondary-focus);
  background-color: var(--btn-secondary-hover);
  outline: solid 2px color-mix(in srgb, var(--btn-secondary-focus) 50%, transparent);
}

/* ---- Active ---- */
:host(:active:not(:state(disabled))) > .container,
:host([btn-type="border"]:active:not(:state(disabled))) > .container {
  background-size: 100%;
  background-color: var(--mo-white);
  border-color: color-mix(in srgb, var(--btn-secondary) 5%, transparent);
  outline: solid 1px color-mix(in srgb, var(--btn-secondary-focus) 50%, transparent);;
  transition: background 0s, 100ms border;
}

/* =========== Negative Button Styles =========== */

/* ---- Static ---- */
:host([btn-type="negative"]) > .container {
  background-color: var(--btn-negative);
  border-color: var(--btn-negative);
}

/* ---- Hover ---- */
:host([btn-type="negative"]) > .container:hover {
  background: var(--btn-negative-focus)
    radial-gradient(circle, transparent 1%, var(--btn-negative-focus) 1%) center /
    15000%;
  border-color: var(--btn-negative-focus);
}

/* ---- Focus ---- */
:host([btn-type="negative"]) > .container:focus {
  background-color: var(--btn-negative-hover);
  border-color: var(--btn-negative-focus);
}

/* ---- Active ---- */
:host([btn-type="negative"]:active:not(:state(disabled))) > .container {
  background-color: var(--mo-white);
  background-size: 100%;
  transition: background 0s;
}

/* =========== Disabled Button Styles =========== */

:host(:state(disabled)) {
  cursor: not-allowed;
}

:host(:state(disabled)) > .container {
  pointer-events: none;
  filter: opacity(0.75) grayscale(0.3);
}
