html {
  --btn-primary: var(--mo-green-500);
  --btn-primary-hover: var(--mo-green-400);
  --btn-primary-focus: var(--mo-green-100);
  --btn-primary-color-light: var(--mo-white);
  --btn-primary-color-dark: var(--mo-green-700);

  --btn-secondary: var(--mo-blue-600);
  --btn-secondary-color: var(--mo-blue-700);
  --btn-secondary-hover: var(--mo-blue-200);
  --btn-secondary-focus: var(--mo-blue-500);
  --btn-secondary-color-light: var(--mo-white);
  --btn-secondary-color-dark: var(--mo-blue-700);

  --btn-negative: var(--mo-red-600);
  --btn-negative-hover: var(--mo-red-500);
  --btn-negative-focus: var(--mo-red-100);
}
