<div class="logo">M<img src="/logo.svg" alt="Mowgli App Logo" />wgli</div>

<div class="nav-items">
  <mo-modal class="nav-item unauthenticated">
    <div class="nav-title" slot="open-btn">Sign Up</div>
    <div id="head" slot="head">Sign Up</div>
    <div slot="body">

      <mo-switch>On / Off</mo-switch>
    </div>

    <!-- <mo-form id="sign-up" slot="body"></mo-form> -->
  </mo-modal>

  <mo-modal class="nav-item unauthenticated">
    <div class="nav-title" slot="open-btn">Sign In</div>
    <div id="head" slot="head">Sign In</div>
    <mo-form id="sign-in" slot="body"></mo-form>
  </mo-modal>

  <mo-nav-link class="authenticated nav-item" mo-href="/dashboard">Dashboard</mo-nav-link>
</div>

<mo-dropdown side-bar>
  <mo-icon slot="button" mo-grow-hov mo-fa="fa-duotone fa-solid fa-bars"> </mo-icon>
  <div class="dropdown-items" slot="content">
    <mo-accordian class="authenticated">
      Manage
      <div slot="body">
        HELLO!!!
      </div>
    </mo-accordian class="authenticated">
    <mo-accordian>
      Manage
      <div slot="body">
        <mo-nav-link class="accordian-item" mo-href="/objects">Objects</mo-nav-link>
        <mo-nav-link class="accordian-item" mo-href="/users">Users</mo-nav-link>
        <mo-nav-link class="accordian-item" mo-href="/roles">Roles</mo-nav-link>
        <mo-nav-link class="accordian-item" mo-href="/forms">Forms</mo-nav-link>
      </div>
    </mo-accordian>
  </div>
</mo-dropdown>
