<div class="logo">M<img src="/logo.svg" alt="Mowgli App Logo" />wgli</div>
<!-- 
<div class="nav-items authenticated"></div>

</div> -->

<div class="nav-items">
  <mo-modal class="nav-item unauthenticated">
    <div class="nav-title" slot="open-btn">Sign Up</div>
    <div id="head" slot="head">Sign Up</div>
    <div slot="body">

      <mo-switch>On / Off</mo-switch>
    </div>

    <!-- <mo-form id="sign-up" slot="body"></mo-form> -->
  </mo-modal>

  <mo-modal class="nav-item unauthenticated">
    <div class="nav-title" slot="open-btn">Sign In</div>
    <div id="head" slot="head">Sign In</div>
    <mo-form id="sign-in" slot="body"></mo-form>
  </mo-modal>

  <div class="nav-item authenticated">
    <div class="nav-title" slot="open-btn">Dashboard</div>
  </div>

  <div class="nav-item authenticated">
    <div class="nav-title" slot="open-btn">Objects</div>
  </div>
</div>

<mo-dropdown side-bar>
  <mo-icon slot="button" mo-grow-hov mo-fa="fa-duotone fa-solid fa-bars"> </mo-icon>
  <div slot="content">Hello There!</div>
</mo-dropdown>
