:host {
  display: flex;
  background-color: var(--mo-white);
  align-items: center;
  padding: var(--mo-padding);
  height: 5rem;
  box-shadow: var(--mo-box-shadow);
  width: inherit;
  margin-bottom: var(--mo-size-5);
  z-index: 1;
}

form {
  width: 100%;
}

.authenticated {
  display: none;
}

:host(:state(authenticated)) .authenticated {
  display: flex;
}

:host(:state(authenticated)) .unauthenticated {
  display: none;
}

.unauthenticated:first-child {
  margin-right: var(--mo-size-4);
}

.unauthenticated:hover {
  text-decoration: underline;
  text-underline-offset: var(--mo-size-2);
  text-decoration-thickness: 2px;
}

.nav-items {
  display: flex;
  margin-right: var(--mo-size-3);
  cursor: pointer;
}

.nav-items {
  font-size: var(--mo-size-6);
}

.logo {
  height: 100%;
  display: flex;
  margin-right: auto;
  align-items: center;
  font-size: var(--mo-size-14);
  filter: var(--mo-drop-shadow-bottom);
  cursor: pointer;
}

.logo-link {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

img {
  height: var(--mo-size-16);
  margin: -0.75rem;
}

.category {
  color: var(--mo-blue-600);
  height: 100%;
  border-right: 1px solid var(--mo-blue-600);
}

.dropdown-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--mo-padding);
}

.accordian-body {
  width: 100%;
}

.accordian-item {
  width: 100%;
  padding-left: var(--mo-size-8);
}

.accordian-item {
  border-top: solid 1px var(--mo-gray);
}

mo-accordian {
  border-bottom: solid 1px var(--mo-gray);
}

.accordian-head {
  min-width: 200px;
}

.accordian-item > mo-icon {
  background-color: transparent;
  font-size: var(--mo-size-6);
  pointer-events: none;
}

.accordian-item:hover {
  background-color: color-mix(in srgb, var(--mo-blue-200) 25%, white);
}

/* --------- BOTTOM USER CONTEXT STYLES --------- */

.company-context {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--mo-size-8);

  font-weight: 500;
  font-size: var(--mo-size-6);
  padding: var(--mo-size-4) var(--mo-size-2) var(--mo-size-6) var(--mo-size-2);
  border-bottom: solid 1px var(--mo-gray);
  cursor: default;
}

.company-logo {
  aspect-ratio: 1;
  width: var(--mo-size-10);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/logo.svg");
}

.session-context {
  display: flex;
  width: 100%;
  padding: var(--mo-size-6) var(--mo-size-2) var(--mo-size-4) var(--mo-size-2);
  color: var(--mo-blue-700);
  cursor: pointer;
}

.user-context > mo-icon, .logout > mo-icon {
  background-color: unset;
  font-size: var(--mo-size-6);
}

.user-context {
  display: flex;
  align-items: center;
  width: 65%;
}

.user-info-name {
  font-weight: 500;
  font-size: var(--mo-size-5);
}

.user-info-role {
  font-size: var(--mo-size-3);
}

.logout {
  width: 35%;
  display: flex;
  align-items: center;
}

.logout:hover {
  text-decoration: underline;
  text-underline-offset: var(--mo-size-1);
  text-decoration-thickness: 2px;
}

#sign-in {
  width: 100%;
}
