<div class="logo">
  <a class="logo-link" href="/dashboard">
    <div>M</div>
    <img src="/logo.svg" alt="Mowgli App Logo" />
    <div>wgli</div>
  </a>
</div>

<div class="nav-items">
  <mo-modal class="nav-item unauthenticated">
    <div class="nav-title" slot="open-btn">Sign Up</div>
    <div id="head" slot="head">Sign Up</div>
    <div slot="body">
      <mo-switch>On / Off</mo-switch>
    </div>

    <!-- <mo-form id="sign-up" slot="body"></mo-form> -->
  </mo-modal>

  <mo-modal class="nav-item unauthenticated">
    <div class="nav-title" slot="open-btn">Sign In</div>
    <div id="head" slot="head">Sign In</div>
    <div id="sign-in" slot="body"></div>
  </mo-modal>

  <mo-nav-link class="authenticated nav-item" mo-href="/dashboard">Dashboard</mo-nav-link>
</div>

<mo-dropdown side-bar class="authenticated">
  <mo-icon slot="button" mo-grow-hov mo-fa="fa-duotone fa-solid fa-bars"> </mo-icon>
  <div class="dropdown-items" slot="content">
    <!-- <div class="side-bar-head">
      <img src="/logo.svg" alt="Mowgli App Logo" />
      <div>Mowgli</div>
    </div> -->

    <div class="company-context">
      <div class="company-logo"></div>
      <div class="company-name"></div>
    </div>
    
    <mo-accordian>
      <div class="accordian-head">Records</div>
      <div class="accordian-body" slot="body">
        <mo-nav-link mo-borderless class="accordian-item" mo-href="/charts">Charts</mo-nav-link>
        <mo-nav-link mo-borderless class="accordian-item" mo-href="/sources">Sources</mo-nav-link>
        <mo-nav-link mo-borderless class="accordian-item" mo-href="/forms">Forms</mo-nav-link>
        <mo-nav-link mo-borderless class="accordian-item" mo-href="/fields">Fields</mo-nav-link>
      </div>
    </mo-accordian>

    <mo-accordian>
      <div class="accordian-head">Management</div>
      <div class="accordian-body" slot="body">
        <mo-nav-link mo-borderless class="accordian-item" mo-href="/users">Users</mo-nav-link>
        <mo-nav-link mo-borderless class="accordian-item" mo-href="/roles">Roles</mo-nav-link>
      </div>
    </mo-accordian>

    <mo-accordian>
      <div class="accordian-head">Settings</div>
      <div class="accordian-body" slot="body">
        <mo-nav-link mo-borderless class="accordian-item" mo-href="/acc-settings">Account</mo-nav-link>
        <mo-nav-link mo-borderless class="accordian-item" mo-href="/app-settings"
          >App Settings</mo-nav-link
        >
        <mo-nav-link mo-borderless class="accordian-item" mo-href="/company"
          >Company Profile</mo-nav-link
        >
      </div>
    </mo-accordian>

    <div class="session-context">
      <div class="user-context">
        <!-- <div class="company-logo"></div> -->
        <!-- <img src="/logo.svg" alt="Mowgli App Logo" /> -->
        <mo-icon mo-static mo-fa="fa-duotone fa-solid fa-user"></mo-icon>
        <div class="user-info">
          <div class="user-info-name">User Name</div>
          <div class="user-info-role">Admin</div>
        </div>
        </div>
        <div class="logout">
          <!-- <mo-icon mo-static mo-fa="fa-sharp-duotone fa-solid fa-arrow-right-from-bracket"></mo-icon> -->
          <mo-icon mo-static mo-fa="fa-sharp-duotone fa-solid fa-arrow-left-from-bracket"></mo-icon>
          <span>Logout</span>
        </div>
      </div>
    </div>

  </div>
</mo-dropdown>
