@import "../../../../assets/fontawesome/css/fontawesome.css";
@import "../../../../assets/fontawesome/css/brands.css";
@import "../../../../assets/fontawesome/css/duotone.css";
@import "../../../../assets/fontawesome/css/sharp-duotone-solid.css";

:host {
  font-size: 2rem;

  cursor: pointer;
  border-radius: 5rem;
  padding: 0.25rem;

  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 0.7;
  --fa-primary-color: var(--mo-blue-600);
  --fa-secondary-color: var(--mo-green-500);

  background: color-mix(in srgb, var(--mo-white) 100%, transparent);
}

i {
  display: inline-block;
  transition: transform 200ms ease-in-out;
}

:host(:not([mo-static]):hover) > i {
  transform: var(--mo-grow);
}

:host([mo-img]) {
  cursor: default;
}

/* ------------ Hover ------------ */

/* Spin | Grow | Flip */

:host([mo-spin-hov]:hover) > i {
  transform: var(--mo-spin);
}

:host([mo-grow-hov]:hover) > i {
  transform: var(--mo-grow);
}

:host([mo-flip-x-hov]:hover) > i {
  transform: scaleX(-1);
}

/* Spin - Grow | Spin - Flip | Grow - Flip */

:host([mo-spin-hov][mo-grow-hov]:hover) > i {
  transform: var(--mo-grow) var(--mo-spin);
}

:host([mo-spin-hov][mo-flip-x-hov]:hover) > i {
  transform: scaleX(-1) var(--mo-spin);
}

:host([mo-grow-hov][mo-flip-x-hov]:hover) > i {
  transform: var(--mo-grow) var(--mo-spin);
}

/* Spin - Grow - Flip */

:host([mo-spin-hov][mo-grow-hov][mo-flip-x-hov]:hover) > i {
  transform: rotate(360deg) scale(1.2) scaleX(-1);
}

/* ------------ Click ------------ */

/* :host([mo-shrink-clk]:active) > i {
  transform: var(--mo-shrink) !important;
} */

:host([mo-flip-x-clk]:active) > i {
  transform: var(--mo-shrink) var(--mo-flipX) !important;
}

:host([mo-flip-y-clk]:active) > i {
  transform: var(--mo-shrink) var(--mo-flipY) !important;
}

/* Static */

:host(:state(mo-static)) {
  pointer-events: none !important;
}

:host(:state(mo-static):active) > i {
  transition: none;
  transform: none !important;
}

:host(:state(mo-static)) > i {
  transition: none;
  transform: none !important;
}