:host {
  cursor: pointer;
  color: var(--mo-blue-700);
  font-size: inherit;
  padding: var(--mo-size-2) var(--mo-size-4);
  display: block;
}

.container {
  border-bottom: solid 0.15rem transparent;
}

.content {
  display: block;
  text-decoration: none;
  color: inherit;
  transition:
    200ms transform ease;
}

:host(:hover) .container {
  border-bottom-color: var(--mo-blue-700);
}

:host(:hover) .content {
  transform: translateY(-0.25rem);
}

:host(:state(active)) .container {
  border-bottom-color: var(--mo-blue-700);
}

:host([mo-borderless]:hover) .content {
  transform: none !important;
}

:host([mo-borderless]) .container {
  border: none;
}
