:host {
  display: flex;
  align-items: center;
}

.selection-box {
  display: none;
  overflow: scroll;
  position: absolute;
  /* align-self: self-end; */

  /* max-height: calc(50% + var(--mo-size-4)); */
  width: calc(100% - 1.5rem);
  top: calc(100% + 0.5rem);

  box-shadow: var(--mo-box-shadow);
  border-radius: var(--mo-border-radius);
  background-color: color-mix(in srgb, var(--mo-gray) 50%, white);
}

:host(:focus-within) > .selection-box {
  display: unset;
  /* position: absolute; */
}

.select-icon {
  /* position: absolute; */
  background-color: unset;
  transition: transform 300ms ease;
  --fa-secondary-opacity: 1;
}

.select-wrapper {
  width: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

:host(:focus-within) .select-icon {
  transform: rotate(180deg);
}
